	*{
		margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	body{
		background-color: black;
		margin: 0;
	}

	.navbar{
	  overflow: hidden;
	  background-color: rgb(192, 0, 90);
	  position: fixed;
	  top: 0;
	  width: 100%;
	}

	.navbar a{
	  font-family: 'Kulim Park', sans-serif;
	  float: right;
	  display: block;
	  color: black;
	  text-align: center;
	  padding: 28px 30px;
	  text-decoration: none;
	}

	.navbar a:hover{
	  color: white;
	}

	.navbar a.active{
	  background-color: black;
	  color: rgb(192, 0, 90);
	}

	.text{
		text-align: center;
		margin-bottom: 250px;
		margin-top: 100px;
	}

	h1{
		margin: 10px auto;
		font-family: 'Antonio', sans-serif;
		font-size: 230px;
		color: rgb(192, 0, 90);
	}

	h2{
		color: whitesmoke;
		font-size: 40px;
		font-family: 'Antonio', sans-serif;
		text-align: center;
	}

	.aboutme img{
		margin: 10px auto;
		width: 70%;
	}

	.aboutme{
	  margin: 100px auto;
	  text-align: center;
	  border: transparent;
	  width: 50%;
	  list-style: none;
	}

	.headline{
	  text-align: center;
	}

	.container{
		width: 80%;
		margin: 10px auto;
		text-align: center;
	}

	h3{
		text-align: center;
		margin: 10px auto;
		color: rgb(192, 0, 90);
		font-size: 180px;
		font-family: 'Antonio', sans-serif;
	}

	p{
		font-family: 'Antonio', sans-serif;
		color: whitesmoke;
		font-size: 20px;
	}

	.aboutme p{
		font-size: 29px;
	}

	.bar{
		height: 25px;
		background-color: white;
		width: 100%;
	}

	.skill1{
		font-family: 'Antonio';
		height: 25px;
		background-color: rgb(192, 0, 90);
		width: 70%;
		text-align: right;
		padding: 5px;
		animation: skill1 3s ease-out;
		font-size: 12px;
	}

	.skill2{
		font-family: 'Antonio';
		height: 25px;
		background-color: rgb(192, 0, 90);
		width: 80%;
		text-align: right;
		padding: 5px;
		animation: skill2 3s ease-out;
		font-size: 12px;
	}

	.skill3{
		font-family: 'Antonio';
		height: 25px;
		background-color: rgb(192, 0, 90);
		width: 60%;
		text-align: right;
		padding: 5px;
		animation: skill3 3s ease-out;
		font-size: 12px;
	}

	.skill4{
		font-family: 'Antonio';
		height: 25px;
		background-color: rgb(192, 0, 90);
		width: 80%;
		text-align: right;
		padding: 5px;
		animation: skill4 3s ease-out;
		font-size: 12px;
	}

	.skill5{
		font-family: 'Antonio';
		height: 25px;
		background-color: rgb(192, 0, 90);
		width: 40%;
		text-align: right;
		padding: 5px;
		animation: skill5 3s ease-out;
		font-size: 12px;
	}
	@keyframes skill1{
		0% {width: 0%;}
		100% {width: 70%;}
	}

	@keyframes skill2{
		0% {width: 0%;}
		100% {width: 80%;}
	}

	@keyframes skill3{
		0% {width: 0%;}
		100% {width: 60%;}
	}

	@keyframes skill4{
		0% {width: 0%;}
		100% {width: 80%;}
	}

	@keyframes skill5{
		0% {width: 0%;}
		100% {width: 40%;}
	}

	div.webovka{
		margin: 10px auto;
		border: 1px solid #ccc;
		width: 70%;
		display: block;
	}
	  
	div.webovka:hover{
		border: 1px solid rgb(192, 0, 90);
	}
	  
	div.webovka img {
		width: 100%;
		height: auto;
	}
	  
	div.popis{
		font-size: 30px;
		padding: 15px;
		text-align: center;
		color: whitesmoke;
		font-family: 'Antonio', sans-serif;
	}

	.gallery{
	  width: 80%;
	  margin: auto;
	  transition: width 1s;
	}

	.card-wrapper{
	  column-gap: 5px;
	  column-count: 4;
	}

	.card img{
	  width: 100%;
	}

	.blog{
		border: 1px solid rgb(192, 0, 90);
		text-align: center;
		color: rgb(192, 0, 90);
		width: 60%;
		margin: 0 auto 0 auto;
		list-style: none;
	  padding: 30px;
	  margin-bottom: 40px;
	}

	.blog img{
		height: 300px;
		width: 300px;
	}

	.blog p{
		font-size: 25px;
		margin-bottom: 25px;
	}

	.blog a{
		text-decoration: none;
		border: 1px solid whitesmoke;
		padding: 10px 13px;
		color: whitesmoke;
		background-color: rgb(192, 0, 90);
		font-family: 'Antonio', sans-serif;
		font-size: 20px;
	}

	.blog a:hover{
		background-color: whitesmoke;
		color: rgb(192, 0, 90);
	}

	footer{
		background-color: rgb(192, 0, 90);
		height: 170px;
		text-align: center;
		width: 100%;
	}

	.icon-style{
		color: black;
		font-size: 65px;
		transition: color 0.3s;
		text-decoration: none;
	}

	.icon-style:hover{
		color: white;
	}

  @media screen and (max-width: 733px){
  	  h3{
  	  	font-size: 110px;
  	  }

	@media screen and (max-width: 647px){
	    .card-wrapper{
	      column-count: 1;
	    }

	    .container{
		    width: 70%;
		    margin: 10px auto;
		    text-align: center;
		  }

		  .gallery{
	      width: 60%;
	      margin: auto;
	    }

		  .card img{
	      margin: 10px auto;
	    }

	    h1{
	    	font-size: 90px;
	    	text-align: center;
	    }
	    
	    .aboutme{
	     margin: 100px auto;
	     text-align: center;
	     border: transparent;
	     width: 70%;
	     list-style: none;
	    }
	    
	    .text{
	      text-align: center;
	      margin-bottom: 180px;
	      margin-top: 68px;
	    }

	    h2{
	    	margin: 0 auto 0 auto;
	    	text-align: center;
	    	font-size: 25px;
	    }

	    p{
	    	font-size: 17px;
	    }

	    .navbar a{
	      font-family: 'Kulim Park', sans-serif;
	      display: block;
	      color: black;
	      text-align: center;
	      padding: 21px 19px;
	      text-decoration: none;
	      font-size: 20px;
	    }

	    h3{
		    margin: 0 auto 0 auto;
		    font-size: 65px;
		    font-family: 'Antonio', sans-serif;
	    }

	    .bar{
		    background-color: white;
		    width: 100%;
		    margin: 0 auto 0 auto;
	     }

	}

	@media (max-width: 585px){

	    .navbar a{
	      font-family: 'Kulim Park', sans-serif;
	      float: right;
	      display: block;
	      color: black;
	      text-align: center;
	      padding: 12px 19px;
	      text-decoration: none;
	      font-size: 10px;
	    }

	    .container{
		    width: 70%;
		    margin: 10px auto;
		    text-align: center;
	}

		  .blog img{
		  	width: 150px;
		  	height: 150px;
		  	margin: 0 auto 0 auto;
		  }

		  footer{
		    background-color: rgb(192, 0, 90);
		    height: 120px;
		    text-align: center;

	    }

	    .icon-style{
		    color: black;
		    font-size: 40px;
		    transition: color 0.3s;
		    text-decoration: none;
	}

	@media (max-width: 388px){

		  .blog img{
		  	width: 100px;
		  	height: 100px;
		  	margin: 0 auto 0 auto;
		  }

		  .navbar a{
	      font-family: 'Kulim Park', sans-serif;
	      float: right;
	      display: block;
	      color: black;
	      text-align: center;
	      padding: 13px 8px;
	      text-decoration: none;
	      font-size: 13px;
	    }

	@media (max-width: 336px){

	    .navbar a{
	      font-family: 'Kulim Park', sans-serif;
	      float: right;
	      display: block;
	      color: black;
	      text-align: center;
	      padding: 6px 4px;
	      text-decoration: none;
		     font-size: 5px;
	    }

	    .container{
		    width: 70%;
		    margin: 10px auto;
		    text-align: center;
	}